name: Context in GitHub

on:
  push:
    branches:
    - main

  workflow_dispatch:

jobs:

  show-context:
    runs-on: ubuntu-latest
    steps:
    - name: github
      run: echo ${{ github }}

    - name: secret
      run: echo ${{ secrets }}

